subscription_id = "00000000-0000-0000-0000-000000000000"
# location     = "israelcentral"
# prefix       = "devopscareer"
# environment  = "nonprod"
# node_vm_size = "Standard_B2s"
# node_count   = 1
